@charset "utf-8";

/* FONT */
@font-face {
    font-family: 'Rubik';
    src: url('fonts/Rubik-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Rubik';
    src: url('fonts/Rubik-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Rubik';
    src: url('fonts/Rubik-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'Exo2';
    src: url('fonts/Exo2-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

/* THEME */
// Buttons
@btn-primary: #005BFF; 
@btn-primary-hover: #0050E0;
@btn-danger: #F3353A;
@btn-danger-hover: #D52C31;
@btn-success:#17C75C;
@btn-success-hover: #14AF51;
@btn-dark: #2D3033;
@btn-light: #F3F3F3;
@btn-light-hover: #EEEEEE;
// Containers
@section-container: #FEFFFF;
@header: #2D3033;
@card-border: #EEEEEE;
@footer: #161819;
// Text color
@white-text: #FBF6F6;
@grey-text: #5F6063;
@green-text: #17C75C;
@red-text: #F3353A;
@red-text-hover: #D52C31;
// Other
@yellow-bg: #FEF8E5;
@links: #0D6EFD;
@error-msg: #F75347;
@notification-circle: #F3353A;

*::selection {
	background: #B21A1A;
	color: @white-text;
}
*::-webkit-scrollbar {
    width: 9px;
}
*::-webkit-scrollbar-track {
    background: #f5f5f5;
    box-shadow: 0 0 2px rgba(0, 0, 0, .2) inset;
}  
*::-webkit-scrollbar-thumb {
    background: #c1c1c1;
}

*::-webkit-scrollbar-thumb:hover {
    background: #1a1a1a;
}   


/* BUTTONS */
.btn-success {
	background-color: @btn-success;
}

.btn-success:hover, .btn-success:focus {
	background-color: @btn-success-hover;
}

.btn-light {
	background-color: @btn-light;
}

.btn-light:hover, .btn-light:focus {
	background-color: @btn-light-hover;
}

.btn-danger, .btn-primary {
	font-weight: 400;
	font-size: 0.8em;
	min-width: 80px;
	max-height: 29px;
	line-height: 29px;
}
.btn-primary {
	background-color: @btn-primary;
	border-top: none;
	border-right: none;
	border-left: none;
	border-bottom-color: @btn-primary-hover;
}
.btn-primary:hover, .btn-primary:focus {
	background-color: @btn-primary-hover;
}

.btn-danger {
	background-color: @btn-danger;
	border-top: none;
	border-right: none;
	border-left: none;
	border-bottom-color: @btn-danger-hover;
}
.btn-danger:hover, .btn-danger:focus  {
	background-color: @btn-danger-hover;
}

/* ERROR MESSAGES UNDER INPUTS */
.error-msg {
	color: @red-text;
}
.error-msg.show {
	visibility: visible;
}
.error-msg.hide {
	visibility: hidden;
}

/* TOASTS */
#toast-container > .toast {
    background-image: none !important;
}

#toast-container > .toast:before {
    position: fixed;
    font-size: 24px;
    line-height: 18px;
    float: left;
    color: #FFF;
    padding-right: 0.5em;
    margin: auto 0.5em auto -1.5em;
}        
#toast-container > .toast-warning:before {
    content: url("data:image/svg+xml;charset=UTF-8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 576 512'><path d='M569.517 440.013C587.975 472.007 564.806 512 527.94 512H48.054c-36.937 0-59.999-40.055-41.577-71.987L246.423 23.985c18.467-32.009 64.72-31.951 83.154 0l239.94 416.028zM288 354c-25.405 0-46 20.595-46 46s20.595 46 46 46 46-20.595 46-46-20.595-46-46-46zm-43.673-165.346l7.418 136c.347 6.364 5.609 11.346 11.982 11.346h48.546c6.373 0 11.635-4.982 11.982-11.346l7.418-136c.375-6.874-5.098-12.654-11.982-12.654h-63.383c-6.884 0-12.356 5.78-11.981 12.654z' fill='white'/></svg>");
    display: inline-block;	
    width: 32px;
    height: 32px;
}
#toast-container > .toast-error:before {
    content: url("data:image/svg+xml;charset=UTF-8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'><path d='M504 256c0 136.997-111.043 248-248 248S8 392.997 8 256C8 119.083 119.043 8 256 8s248 111.083 248 248zm-248 50c-25.405 0-46 20.595-46 46s20.595 46 46 46 46-20.595 46-46-20.595-46-46-46zm-43.673-165.346l7.418 136c.347 6.364 5.609 11.346 11.982 11.346h48.546c6.373 0 11.635-4.982 11.982-11.346l7.418-136c.375-6.874-5.098-12.654-11.982-12.654h-63.383c-6.884 0-12.356 5.78-11.981 12.654z' fill='white'/></svg>");
    display: inline-block;	
    width: 32px;
    height: 32px;
}
#toast-container > .toast-info:before {
    content: url("data:image/svg+xml;charset=UTF-8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'><path d='M256 8C119.043 8 8 119.083 8 256c0 136.997 111.043 248 248 248s248-111.003 248-248C504 119.083 392.957 8 256 8zm0 110c23.196 0 42 18.804 42 42s-18.804 42-42 42-42-18.804-42-42 18.804-42 42-42zm56 254c0 6.627-5.373 12-12 12h-88c-6.627 0-12-5.373-12-12v-24c0-6.627 5.373-12 12-12h12v-64h-12c-6.627 0-12-5.373-12-12v-24c0-6.627 5.373-12 12-12h64c6.627 0 12 5.373 12 12v100h12c6.627 0 12 5.373 12 12v24z' fill='white'/></svg>");
    display: inline-block;	
    width: 32px;
    height: 32px;
}
#toast-container > .toast-success:before {
    content: url("data:image/svg+xml;charset=UTF-8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'><path d='M173.898 439.404l-166.4-166.4c-9.997-9.997-9.997-26.206 0-36.204l36.203-36.204c9.997-9.998 26.207-9.998 36.204 0L192 312.69 432.095 72.596c9.997-9.997 26.207-9.997 36.204 0l36.203 36.204c9.997 9.997 9.997 26.206 0 36.204l-294.4 294.401c-9.998 9.997-26.207 9.997-36.204-.001z' fill='white'/></svg>");
    display: inline-block;	
    width: 32px;
    height: 32px;
}

/* PAGE */
body {
	background-image: url("img/pattern.jpeg");
	background-size: 35em;
	font-family: 'Rubik', sans-serif;
}

body.auth-body {
	background-image: url("img/auth-bg.png") !important;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

a {
	text-decoration: none;
	white-space: nowrap;
}

header, footer {
	.header-container {
		padding-right: 2.2em;
		padding-left: 2.2em;
	}
}

.section-container {
	padding-right: 2.2em;
	padding-left: 1.2em;
	background-color: @section-container;
	-webkit-box-shadow: 0px 0px 19px -1px rgba(34, 60, 80, 0.09);
	-moz-box-shadow: 0px 0px 19px -1px rgba(34, 60, 80, 0.09);
	box-shadow: 0px 0px 19px -1px rgba(34, 60, 80, 0.09);
}

header {
	background-color: @header;
	color: @white-text;

	.header-item {
		max-width: fit-content;
		font-size: 0.8em;
		a {
			color: @white-text;
		}
		a:hover {
			color: @green-text;
		}
		a.active {
			pointer-events: none;
			color: @green-text;
		}
		.notification-circle {
			top:13%;
			left: 90%;
			background-color: @notification-circle;
			border: 1px solid @header;
		}
		.notification-circle.show {
			visibility: visible;
		}
		.notification-circle.hide {
			visibility: hidden;
		}
	}

	.slide-menu {
		display: none;
		.burger-button {
			  z-index: 1;
			  -webkit-appearance: none;
			  border: 0;
			  background: transparent;
			  width: 27px;
			  cursor: pointer;
			  pointer-events: auto;
			  touch-action: manipulation;
			  -webkit-tap-highlight-color: rgba(0,0,0,0);
			span {
			  background-color: @white-text;
			  width: 100%;
			  height: 3px;
			  transition: .3s;
			}
			span + span {
			  margin-top: 5px;
			}
		}
		.burger-button.open {
			span:nth-child(1) {
			  transform: translate3d(0,8px,0) rotate(45deg);
			}
			span:nth-child(2) {
			  opacity: 0;
			}
			span:nth-child(3) {
			  transform: translate3d(0,-8px,0) rotate(-45deg);
			}
		}
	}

	nav .header-item:nth-child(1) {
		span {
			margin-right: 10px;
		}
	}

	.logo-item {
		max-width: 295px;
	}

	.search-field {
		font-weight: 400;
		border-top-right-radius: 0;
		border-bottom-right-radius: 0;
		font-size: 0.75em;
	}

	.search-button {
		background-color: @btn-success;
		border-top-left-radius: 0;
		border-bottom-left-radius: 0;
		color: @white-text;
		border-top: none;
		border-right: none;
		border-left-color: @header;
	}
	.logo {
		max-height: 26px;
	}
}

#login-section {
	display: grid;
	grid-template-columns: 1fr 1fr;
	.error-card {
		background: linear-gradient(to left, #ff6868, #ed6060);
		color: @white-text;
	}
	.error-card.none {
		display: none;
	}
	.logo {
		max-height: 26px;
	}
	.login-card, .error-card {
		width: 60%;
		-webkit-box-shadow: 0px 0px 19px -1px rgba(34, 60, 80, 0.09);
		-moz-box-shadow: 0px 0px 19px -1px rgba(34, 60, 80, 0.09);
		box-shadow: 0px 0px 19px -1px rgba(34, 60, 80, 0.09);
	}
	.login-card {
		background: @header;
		color: @white-text;
		form {
			input,select {
				background-color: #44494D;
				border: none;
				padding-left: 2.3em;
			}
			input, select {
				color: @white-text;
			}
			span {
				color: #aaaaaa;
				top: 6px;
				left: 11px;
			}
			input::placeholder {
				color: #aaaaaa;
			}
			label {
				font-size: 0.8em;
			}
		}
		.form-select {
			background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='white' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m2 5 6 6 6-6'/%3e%3c/svg%3e");
		}
		.login-header {
			background: @header;
			ul {
				align-items: center;
			}
			ul li a {
				color: #aaaaaa;
				font-size: 1em;
			}
			ul li a.active {
				color: @white-text;
				font-size: 1.5em;
			}
		}
	}
}

main, nav {
	padding-left: 2.2em !important;
}

main {
	.nav-path {
		font-size: 0.7em;
		color: @grey-text;
		font-weight: 400;
		a {
			color: @grey-text;
		}
		a:hover {
			color: black;
		}
	}

	.main-header p {
		color: #8c8d90;
	}
	.catalog-cards, .main-cards, .info-cards {
		display: grid;
	}
	.main-cards {
		grid-template-columns: 1fr 1fr 1fr;
		gap: 2rem;
		.highlighter {
			width: 10px;
		}
		.highlighter-red {
			background-color: #eb6b6b;
			opacity: .4;
		}
		.highlighter-yellow {
			background-color: rgba(250,219,125,.4);
		}
		.highlighter-green {
			background-color: rgba(207,242,208,.4);
		}
		.highlighter-blue {
			background-color: rgba(191,226,255,.4);
		}
		.card-link-wrapper {
			color: black;
		}
		.card-link-wrapper:hover {
			-webkit-box-shadow: 0px 0px 10px -1px rgba(34, 60, 80, 0.3);
			-moz-box-shadow: 0px 0px 10px -1px rgba(34, 60, 80, 0.3);
			box-shadow: 0px 0px 10px -1px rgba(34, 60, 80, 0.3);
		}
		p.header {
			font-size: 1.1em;
		}
	}
	.catalog-cards {
		grid-template-columns: 1fr;
		gap: 1rem;
		.item-pic {
		  width: 100%;
		  height: 100%;
		  object-fit: cover;
		  object-position: center center;
		}
		.item-minpic img {
			object-fit: cover; 
			object-position: center center; 
			max-width: 75px; 
			height: 100%
		}
		.card-link {
			font-weight: 400;
			width: fit-content;
			font-size: 1.2em;
			text-decoration: underline;
			color: black;
		}
		.card-link:hover {
			color: @links;
		}

		.for-employers-card {
			background-color: @yellow-bg;
    		border-radius: 6px;
    		b {
    			font-size: 1em;
    		}
    		button, p {
    			font-size: 0.9em;
    		}
		}

		.card {
			border-width: 2px; 
			border-color: @card-border;

			.card-author {
				background-color: @card-border;
			}
			.card-body small {
				font-size: 0.8em;
				color: @grey-text;
			}
			.card-body p {
				font-size: 0.8em;
			}
			.description {
				display: -webkit-box;
				-webkit-line-clamp: 5;
				-webkit-box-orient: vertical;
				overflow: hidden;
			}
		}
		.card-lg {
			display: none;
		}
	}

	.pagination {
	  display: inline-block;
	}
	.pagination a {
	  color: black;
	  float: left;
	  padding: 8px 16px;
	  text-decoration: none;
	}
	.pagination a.active {
	  background-color: @btn-dark;
	  color: @white-text;
	  border-radius: 5px;
	}
	.pagination a:hover:not(.active) {
	  background-color: #ddd;
	  border-radius: 5px;
	}

	.vacancy-control-card, .vacancy-description-card, .profile-card {
		border: 2px solid @card-border;
		border-radius: 6px;
	}

	.vacancy-control-card {
		display: grid;
		grid-template-columns: 1fr 4fr 2fr 2fr 2fr;
		small {
			font-size: 0.8em;
		}
		.delete-link {
			color: @red-text;
		}
		.delete-link:hover {
			color: @red-text-hover;
		}
	}

	.profile-fill-card {
		background-color: @header;
		color: white;
		border-radius: 6px;
	}

	.notification-card {
		border-radius: 6px;
		background-color: white;
		p {
			width: 96%;
			font-size: 14px;
		}
		small {
			font-size: 0.8em;
			bottom: 5px;
			right: 10px;
			color: @grey-text;
		}
	}

	.vacancy-description-card {
		.vacancy-info p, .vacancy-info small, .vacancy-info a {
			font-size: 0.8rem !important;
		}
	}

	.requests-card {
		.requests-title li {
			border: none;
			border-bottom-left-radius: 0;
			border-bottom-right-radius: 0;
			border-top-left-radius: 0;
			border-top-right-radius: 0 !important;
			background: @header;
		}
		.requests-title hr {
			border: 3px solid;
			background: @header;
			border-color: @header;
		}
		.requests-item img {
			width: 45px;
			height: 45px;
		}
		.requests-item small.timestamp {
			font-size: 0.8em;
			color: @grey-text;
		}
	}

	.profile-card {
		.profile-avatar img {
			max-width: 50px;
			border-radius: 50%;
		}
		small {
			color: @grey-text;
		}
	}
}

aside {
	max-width: 310px !important;
	padding-right: 2.2em !important;
	min-height: 100vh;
	border-right: 2px solid @card-border;
	.sidebar-category {
		font-weight: 400;
		font-size: 0.875em;
		color: black;
	}
	.sidebar-link {
		font-weight: 400;
		font-size: 0.875em;
		color: @grey-text;
	}
	.sidebar-links ul {
		padding-left: 2em;
		height: 0;
		opacity: 0;
		overflow: hidden;
	}
	.sidebar-links ul.show {
		transition: opacity .2s ease-out;
		height: auto;
		opacity: 1;
	}
	.sidebar-item a.active {
		pointer-events: none;
	}
	.sidebar-item a:hover:not(.active), .sidebar-item a.active {
		color: @red-text;
		text-decoration: underline;
	}
	.sidebar-item {
		padding-bottom: 1px;
		padding-top: 1px;
	}
	.sidebar-dropdown:hover {
		background-color: #eeeeee;
		border-radius: 3px;
	}
	.sidebar-dropdown, .sidebar-profile, .sidebar-rights {
		padding-left: 1em;
	}
	.profile-case {
		b {
			font-size: 0.8em;
		}
		i {
			font-size: 0.625em;
			color: @grey-text;
		}
		a {
			color: #8c8d90;
		}
		a:hover {
			color: black;
		}
	}
	.profile-avatar img {
		max-width: 32px;
		border-radius: 50%;
	}
	hr {
		color: @grey-text;
	}
	small {
		font-size: 0.55em;
		color: @grey-text;
	}
}

.sm-aside {
	display: none;
	height: 0;
	opacity: 0;
	overflow: hidden;
	transition: .5s;
	.sidebar-category {
		font-weight: 400;
		font-size: 0.875em;
		color: @white-text;
	}
	.sidebar-link {
		font-weight: 400;
		font-size: 0.875em;
		color: @white-text;
	}
	.sidebar-item a:hover:not(.active), .sidebar-item a.active {
		color: @red-text;
		text-decoration: underline;
	}
	.sidebar-item {
		padding-bottom: 1px;
		padding-top: 1px;
	}
	.sidebar-dropdown:hover {
		background-color: @footer;
		border-radius: 3px;
	}
	.sidebar-dropdown {
		padding-left: 1em;
	}
	.sidebar-nav {
		margin-top: 1em;
	}
	.sidebar-links ul {
		padding-left: 2em;
		height: 0;
		opacity: 0;
		overflow: hidden;
	}
	.sidebar-links ul.show {
		transition: opacity .2s ease-out;
		height: auto;
		opacity: 1;
	}
}

.sm-aside.show {
	opacity: 1;
	height: auto;
	transition: .5s;
}

.sm-navbar {
	display: none;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	max-width: 350px; 
	width: 350px;
	height: 70px;
	background: @header;
	li {
		list-style: none;
		width: 70px;
		height: 70px;
	}
	li.active .icon {
		transform: translateY(-35px);
	}
	li.active .text {
		opacity: 1;
		transform: translateY(10px);
	}
	li:nth-child(1).active ~ .indicator {
		visibility: visible;
		transform: translateX(calc(70px * 0));
	}
	li:nth-child(2).active ~ .indicator {
		visibility: visible;
		transform: translateX(calc(70px * 1));
	}
	li:nth-child(3).active ~ .indicator {
		visibility: visible;
		transform: translateX(calc(70px * 2));
	}
	li:nth-child(4).active ~ .indicator {
		visibility: visible;
		transform: translateX(calc(70px * 3));
	}
	a {
		width: 100%;
		text-align: center;
		font-weight: 600;
		font-family: 'Exo2', sans-serif;
		.icon {
			color: @white-text;
			display: block;
			line-height: 70px;
			font-size: 1.5em;
			transition: 0.3s;
			z-index: 99;
		}
		.text {
			color: @white-text;
			font-size: 0.75em;
			letter-spacing: 0.05em;
			transition: 0.3s;
			opacity: 0;
			transform: translateY(20px);
		}
	}
	.indicator {
		visibility: hidden;
		top: -50%;
		width: 70px;
		height: 70px;
		background: @btn-success;
		border: 6px solid @header;
		transition: 0.3s;
	}
}

footer {
	background-color: @footer;
	color: @white-text;
    p {
 		text-transform: uppercase;
 		color: @white-text;
 		font-size: 13px;
 	}
	a {
		color: #8b9296;
	}
	a:hover {
	 	color: @white-text;
	}
}

/* MEDIA QUERIES */

// `sm` applies to x-small devices (portrait phones, less than 576px)
@media only screen and (max-width: 575.98px) {
	#login-section {
		display: grid;
		grid-template-columns: 1fr;
		.login-card {
			width: 100%;
			height: 100%;
			border-radius: 0 !important;
		}
		.logo-item {
			display: none;
		}
	}
	main, nav {
		padding-left: 12px !important;
	}
	header {
		nav .header-item:nth-child(1), .header-item:nth-child(2) {
			display: none;
		}
		.logo-item {
			min-width: fit-content;
			max-width: 0 !important;
		}
		.slide-menu {
			display: block;
		}
		.search-field, .search-button {
			display: none;
		}
		.header-container {
			padding-right: 1.2em;
			padding-left: 1.2em;
		}
	}
	.section-container {
		padding-right: 1.2em;
		padding-left: 1.2em;
	}
	main {
		.nav-path {
			flex-direction: column;
			i {
				display: none;
			}
			a {
				margin-bottom: 2px;
			}
		}
		.main-cards {
			grid-template-columns: 1fr;
		}
	}
	aside {
		display: none;
	}
	footer .container {
		flex-direction: column;
		padding-bottom: 110px;
		margin: 0;
	}
	.sm-navbar {
		display: flex;
	}
	.sm-aside { 
		display: block;
	}
}

// `md` applies to small devices (landscape phones, less than 768px)
@media only screen and (max-width: 767.98px) and (min-width: 576px) {
	#login-section {
		display: grid;
		grid-template-columns: 1fr;
	}
	header {
		nav {
 			.inscription {
 				display: none;
 			}
 			span {
				margin-right: 0;
 			}
		}
		.logo-item {
			min-width: fit-content;
			max-width: 0 !important;
		}
	}
	main .main-cards {
		grid-template-columns: 1fr 1fr;
	}
	aside {
		display: none;
	}
	footer .container {
		flex-direction: column;
		margin: 0;
	}
}

// `lg` applies to medium devices (tablets, less than 992px)
@media only screen and (max-width: 991.98px) and (min-width: 768px) {
	#login-section {
		display: grid;
		grid-template-columns: 1fr;
	}
	header {
		nav {
 			.inscription {
 				display: none;
 			}
 			span {
				margin-right: 0;
 			}
		}
		.logo-item {
			min-width: fit-content;
			max-width: 0 !important;
		}
	}
	main .main-cards {
		grid-template-columns: 1fr 1fr;
	}
	aside {
		display: none;
	}
	footer .container {
		flex-direction: column;
		margin: 0;
	}
}

// `xl` applies to large devices (desktops, less than 1200px)
@media only screen and (max-width: 1199.98px) and (min-width: 992px) { 
	#login-section {
		display: grid;
		grid-template-columns: 1fr;
	}
	main .main-cards {
		grid-template-columns: 1fr 1fr;
	}
}

// `xxl` applies to x-large devices (large desktops, less than 1400px)
@media only screen and (max-width: 1399.98px) and (min-width: 1200px) { 
	main .main-cards {
		gap: 1rem;
	}
}